@import 'vars.less';

html{
	body{
		header{
			@media only screen and (min-width: 0px) and (max-width: 1600px) {
				background:url('../images/layout/header_suites.jpg') center top no-repeat;
			}
			@media only screen and (min-width: 1601px){
				background:url('../images/layout/wide/header_suites.jpg') center top no-repeat;
			}
			padding-top:45px;
			height:255px;
			.centro{
				.centralizar;
				nav{
					.centralizar;
					margin-bottom:57px;
					height:80px;
					position:relative;
					-webkit-box-shadow: 1px 5px 10px 0 rgba(0,0,0,.6);
					box-shadow: 1px 5px 10px 0 rgba(0,0,0,.6);
					ul{
						height:40px;
						font-size:0;
						padding:20px 22px;
						background-color:@verde;
						li{
							margin-right:6px;
							&:last-child{margin-right:0;}
							height:40px;
							.inline;
							a{
								.roboto(18px);
								color:#456709;
								height:40px;
								line-height:40px;
								padding:0 23px 0 37px;
								text-decoration: none;								
								text-align:center;
								display:block;
								.transition;
								&:active, &:visited{}
								&:hover, &.ativo{
									color:#fff;
									&.mn-suites{background:url('../images/layout/menu_home-on.png') 3px center no-repeat}
									&.mn-lazer{background:url('../images/layout/menu_lazer-on.png') 3px center no-repeat}
									&.mn-culinaria{background:url('../images/layout/menu_culinaria-on.png') 3px center no-repeat}
									&.mn-promocoes{background:url('../images/layout/menu_promocoes-on.png') 3px center no-repeat}
									&.mn-mapa{background:url('../images/layout/menu_mapa-on.png') 3px center no-repeat}
									&.mn-traslados{background:url('../images/layout/menu_traslados-on.png') 0px center no-repeat}
									&.mn-reservas{background:url('../images/layout/menu_reservas-on.png') 3px center no-repeat}
									span{
										border-bottom:1px #fff solid;										
									}
								}
								span{
									.transition;
									border-bottom:1px @verde solid;
								}
								&.mn-suites{background:url('../images/layout/menu_home.png') 3px center no-repeat}
								&.mn-lazer{background:url('../images/layout/menu_lazer.png') 3px center no-repeat}
								&.mn-culinaria{background:url('../images/layout/menu_culinaria.png') 3px center no-repeat}
								&.mn-promocoes{background:url('../images/layout/menu_promocoes.png') 3px center no-repeat}
								&.mn-mapa{background:url('../images/layout/menu_mapa.png') 3px center no-repeat}
								&.mn-traslados{background:url('../images/layout/menu_traslados.png') 0px center no-repeat}
								&.mn-reservas{background:url('../images/layout/menu_reservas.png') 3px center no-repeat}
							}
						}
					}
				}
				h1{
					color:#fff;
					.shadows(60px);
					min-height:65px;
					a{
						float:right;
						height: 65px;
						width:362px;
						.transition;						
					}
				}
			}
		}
		.main{
			padding:50px 0 80px 0;
			background:#fff;
			min-height:300px;
			.centro{
				.centralizar;
			}
			&.main-naoencontrado{
				h2{
					text-align:center;
					.roboto(40px);
					color:@texto;
				}
			}
			h1.naoencontrado{
				.g-coluna;
				text-align:center;
				.roboto(40px);
				color:@texto;
			}
		}
		footer{
			height:110px;
			@media only screen and (min-width: 0px) and (max-width: 1600px) {
				background:url('../images/layout/footer_bg.jpg') center top no-repeat;
			}
			@media only screen and (min-width: 1601px){
				background:url('../images/layout/wide/footer_bg.jpg') center top no-repeat;
			}
			nav{
				.centralizar;
				ul{
					text-align:center;
					height:40px;
					font-size:0;
					padding:15px 22px;
					li{
						margin-right:6px;
						&:last-child{margin-right:0;}
						height:40px;
						.inline;
						a{
							.roboto(18px);
							color:#fff;
							height:40px;
							line-height:40px;
							padding:0 20px;
							text-decoration: none;								
							text-align:center;
							display:block;
							.transition;
							&:active, &:visited{}
							&:hover{
								color:@verde;
							}										
						}
					}
				}	
			}
			.assinatura{
				.roboto(13px);
				background:url('rgba.php/rgba(0,0,0,.3)');
				background:rgba(0,0,0,.3);
				height:40px;
				line-height:40px;
				color:@verde;
				text-align:center;
				a{
					text-decoration:none;
					color:@verde;
					border-bottom:1px transparent dotted;
					.transition;
					&:active, &:visited{}
					&:hover{
						color:#fff;
						border-bottom:1px #fff dotted;
					}
					img{
						vertical-align:-2px;
					}
				}
			}
		}
		.resposta-contato{
			text-align:center;
			padding:40 60px;
			width:500px;
			height:150px;
			h1{
				.roboto(35px);
				color:@verde;
				padding:10px 0 30px 0;
			}
			h2{
				.roboto(25px);
				color:@texto;
			}
		}
		#politica{
			padding:20px;
			width:490px;
			h1{
				color:@marrom;
				.roboto(18px);
				line-height:100%;
				padding-bottom: 17px;
				border-bottom: 1px @marrom solid;
				margin-bottom:20px;				
			}
			p{
				.roboto(13px);
				color:@texto;
				margin-bottom:10px;
				span{color:@marrom;}
			}
		}
	}
}