@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto+Condensed);
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.g-container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
.g-coluna {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body header {
  padding-top: 45px;
  height: 255px;
}
@media only screen and (min-width: 0px) and (max-width: 1600px) {
  html body header {
    background: url('../images/layout/header_suites.jpg') center top no-repeat;
  }
}
@media only screen and (min-width: 1601px) {
  html body header {
    background: url('../images/layout/wide/header_suites.jpg') center top no-repeat;
  }
}
html body header .centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
html body header .centro nav {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
  margin-bottom: 57px;
  height: 80px;
  position: relative;
  -webkit-box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.6);
}
html body header .centro nav ul {
  height: 40px;
  font-size: 0;
  padding: 20px 22px;
  background-color: #7ebc11;
}
html body header .centro nav ul li {
  margin-right: 6px;
  height: 40px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body header .centro nav ul li:last-child {
  margin-right: 0;
}
html body header .centro nav ul li a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #456709;
  height: 40px;
  line-height: 40px;
  padding: 0 23px 0 37px;
  text-decoration: none;
  text-align: center;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body header .centro nav ul li a:hover,
html body header .centro nav ul li a.ativo {
  color: #fff;
}
html body header .centro nav ul li a:hover.mn-suites,
html body header .centro nav ul li a.ativo.mn-suites {
  background: url('../images/layout/menu_home-on.png') 3px center no-repeat;
}
html body header .centro nav ul li a:hover.mn-lazer,
html body header .centro nav ul li a.ativo.mn-lazer {
  background: url('../images/layout/menu_lazer-on.png') 3px center no-repeat;
}
html body header .centro nav ul li a:hover.mn-culinaria,
html body header .centro nav ul li a.ativo.mn-culinaria {
  background: url('../images/layout/menu_culinaria-on.png') 3px center no-repeat;
}
html body header .centro nav ul li a:hover.mn-promocoes,
html body header .centro nav ul li a.ativo.mn-promocoes {
  background: url('../images/layout/menu_promocoes-on.png') 3px center no-repeat;
}
html body header .centro nav ul li a:hover.mn-mapa,
html body header .centro nav ul li a.ativo.mn-mapa {
  background: url('../images/layout/menu_mapa-on.png') 3px center no-repeat;
}
html body header .centro nav ul li a:hover.mn-traslados,
html body header .centro nav ul li a.ativo.mn-traslados {
  background: url('../images/layout/menu_traslados-on.png') 0px center no-repeat;
}
html body header .centro nav ul li a:hover.mn-reservas,
html body header .centro nav ul li a.ativo.mn-reservas {
  background: url('../images/layout/menu_reservas-on.png') 3px center no-repeat;
}
html body header .centro nav ul li a:hover span,
html body header .centro nav ul li a.ativo span {
  border-bottom: 1px #fff solid;
}
html body header .centro nav ul li a span {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-bottom: 1px #7ebc11 solid;
}
html body header .centro nav ul li a.mn-suites {
  background: url('../images/layout/menu_home.png') 3px center no-repeat;
}
html body header .centro nav ul li a.mn-lazer {
  background: url('../images/layout/menu_lazer.png') 3px center no-repeat;
}
html body header .centro nav ul li a.mn-culinaria {
  background: url('../images/layout/menu_culinaria.png') 3px center no-repeat;
}
html body header .centro nav ul li a.mn-promocoes {
  background: url('../images/layout/menu_promocoes.png') 3px center no-repeat;
}
html body header .centro nav ul li a.mn-mapa {
  background: url('../images/layout/menu_mapa.png') 3px center no-repeat;
}
html body header .centro nav ul li a.mn-traslados {
  background: url('../images/layout/menu_traslados.png') 0px center no-repeat;
}
html body header .centro nav ul li a.mn-reservas {
  background: url('../images/layout/menu_reservas.png') 3px center no-repeat;
}
html body header .centro h1 {
  color: #fff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 60px;
  font-weight: normal;
  min-height: 65px;
}
html body header .centro h1 a {
  float: right;
  height: 65px;
  width: 362px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main {
  padding: 50px 0 80px 0;
  background: #fff;
  min-height: 300px;
}
html body .main .centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
html body .main.main-naoencontrado h2 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #5a5a5a;
}
html body .main h1.naoencontrado {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #5a5a5a;
}
html body footer {
  height: 110px;
}
@media only screen and (min-width: 0px) and (max-width: 1600px) {
  html body footer {
    background: url('../images/layout/footer_bg.jpg') center top no-repeat;
  }
}
@media only screen and (min-width: 1601px) {
  html body footer {
    background: url('../images/layout/wide/footer_bg.jpg') center top no-repeat;
  }
}
html body footer nav {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
html body footer nav ul {
  text-align: center;
  height: 40px;
  font-size: 0;
  padding: 15px 22px;
}
html body footer nav ul li {
  margin-right: 6px;
  height: 40px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body footer nav ul li:last-child {
  margin-right: 0;
}
html body footer nav ul li a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  text-decoration: none;
  text-align: center;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer nav ul li a:hover {
  color: #7ebc11;
}
html body footer .assinatura {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  font-weight: normal;
  background: url('rgba.php/rgba(0,0,0,.3)');
  background: rgba(0, 0, 0, 0.3);
  height: 40px;
  line-height: 40px;
  color: #7ebc11;
  text-align: center;
}
html body footer .assinatura a {
  text-decoration: none;
  color: #7ebc11;
  border-bottom: 1px transparent dotted;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body footer .assinatura a:hover {
  color: #fff;
  border-bottom: 1px #fff dotted;
}
html body footer .assinatura a img {
  vertical-align: -2px;
}
html body .resposta-contato {
  text-align: center;
  padding: 40 60px;
  width: 500px;
  height: 150px;
}
html body .resposta-contato h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;
  font-weight: normal;
  color: #7ebc11;
  padding: 10px 0 30px 0;
}
html body .resposta-contato h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #5a5a5a;
}
html body #politica {
  padding: 20px;
  width: 490px;
}
html body #politica h1 {
  color: #916e31;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 100%;
  padding-bottom: 17px;
  border-bottom: 1px #916e31 solid;
  margin-bottom: 20px;
}
html body #politica p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #5a5a5a;
  margin-bottom: 10px;
}
html body #politica p span {
  color: #916e31;
}
