@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto+Condensed);
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.g-container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
.g-coluna {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
@media only screen and (min-width: 0px) and (max-width: 1600px) {
  html body header {
    background: url('../images/layout/header_culinaria.jpg') center top no-repeat;
  }
}
@media only screen and (min-width: 1601px) {
  html body header {
    background: url('../images/layout/wide/header_culinaria.jpg') center top no-repeat;
  }
}
html body #mosaico {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
  width: 980px;
}
html body #mosaico #quadrante-1 {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 560px;
  height: 420px;
  overflow: hidden;
  position: relative;
}
html body #mosaico #quadrante-1 .box1 {
  top: 0;
  left: 0;
}
html body #mosaico #quadrante-1 .box2 {
  top: 0;
  left: 280px;
}
html body #mosaico #quadrante-1 .box3 {
  top: 140px;
  left: 0;
}
html body #mosaico #quadrante-1 .box4 {
  top: 140px;
  left: 140px;
}
html body #mosaico #quadrante-1 .box5 {
  top: 140px;
  left: 420px;
}
html body #mosaico #quadrante-1 .box6 {
  top: 280px;
  left: 420px;
}
html body #mosaico #quadrante-2 {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 420px;
  height: 420px;
  overflow: hidden;
  position: relative;
}
html body #mosaico #quadrante-2 .box1 {
  top: 0;
  left: 0;
}
html body #mosaico #quadrante-2 .box2 {
  top: 0;
  left: 280px;
}
html body #mosaico #quadrante-2 .box3 {
  top: 140px;
  left: 280px;
}
html body #mosaico #quadrante-2 .box4 {
  top: 280px;
  left: 0;
}
html body #mosaico #quadrante-2 .box5 {
  top: 280px;
  left: 140px;
}
html body #mosaico #quadrante-3 {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 560px;
  height: 560px;
  overflow: hidden;
  position: relative;
}
html body #mosaico #quadrante-3 .box1 {
  top: 0;
  left: 0;
}
html body #mosaico #quadrante-3 .box2 {
  top: 0;
  left: 280px;
}
html body #mosaico #quadrante-3 .box3 {
  top: 140px;
  left: 0;
}
html body #mosaico #quadrante-3 .box4 {
  top: 140px;
  left: 280px;
}
html body #mosaico #quadrante-3 .box5 {
  top: 420px;
  left: 0;
}
html body #mosaico #quadrante-3 .box6 {
  top: 420px;
  left: 140px;
}
html body #mosaico #quadrante-3 .box7 {
  top: 420px;
  left: 420px;
}
html body #mosaico #quadrante-4 {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 420px;
  height: 560px;
  overflow: hidden;
  position: relative;
}
html body #mosaico #quadrante-4 .box1 {
  top: 0;
  left: 0;
}
html body #mosaico #quadrante-4 .box2 {
  top: 0;
  left: 280px;
}
html body #mosaico #quadrante-4 .box3 {
  top: 280px;
  left: 0;
}
html body #mosaico #quadrante-4 .box4 {
  top: 280px;
  left: 140px;
}
html body #mosaico #quadrante-4 .box5 {
  top: 420px;
  left: 140px;
}
html body #mosaico #quadrante-4 .box6 {
  top: 140px;
  left: 280px;
}
html body #mosaico #quadrante-4 .box7 {
  top: 420px;
  left: 280px;
}
html body #mosaico .retanguloH {
  width: 280px;
  height: 140px;
  position: absolute;
  overflow: hidden;
}
html body #mosaico .retanguloV {
  height: 280px;
  width: 140px;
  position: absolute;
  overflow: hidden;
}
html body #mosaico .quadradoG {
  width: 280px;
  height: 280px;
  position: absolute;
  overflow: hidden;
}
html body #mosaico .quadradoP {
  width: 140px;
  height: 140px;
  position: absolute;
  overflow: hidden;
}
html body #mosaico .texto {
  background: #7DBC10;
  color: #fff;
  text-align: center;
  line-height: 135%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
html body #mosaico .texto p {
  padding: 20px 30px;
}
html body #mosaico .texto.xtraTop p {
  padding: 40px 30px;
  line-height: 145%;
}
html body #mosaico .texto.xtraLeft p {
  padding: 20px 23px;
  line-height: 145%;
}
html body #mosaico a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #mosaico a:hover .overlay {
  opacity: 1;
}
html body #mosaico a img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
html body #mosaico a .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url('rgba.php/rgba(126, 188, 17, 0.65)');
  background: rgba(126, 188, 17, 0.65);
}
html body #mosaico a .overlay:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  content: "";
  display: block;
  background: url('../images/layout/lupa.png') center center no-repeat;
}
html body #mosaico a .legenda {
  padding: 5%;
  width: 90%;
  height: 90%;
  position: absolute;
  color: #fff;
  z-index: 9;
  font-family: 'Shadows Into Light', cursive;
  font-size: 36px;
  font-weight: normal;
}
html body #mosaico a .legenda.tr {
  text-align: right;
}
html body #mosaico a .legenda.br {
  text-align: right;
  line-height: 470px;
}
html body #mosaico a .legenda.bl {
  line-height: 470px;
}
