@import 'vars.less';

html{
	body{
		header{
			@media only screen and (min-width: 0px) and (max-width: 1600px) {
				background:url('../images/layout/header_culinaria.jpg') center top no-repeat;
			}
			@media only screen and (min-width: 1601px){
				background:url('../images/layout/wide/header_culinaria.jpg') center top no-repeat;
			}
		}
		#mosaico{
			.g-container;
			width:@largura;
			#quadrante-1{
				.g-coluna;
				width:560px;
				height:420px;
				overflow:hidden;
				position:relative;
				.box1{ top:0; left:0; }
				.box2{ top:0; left:280px; }
				.box3{ top:140px; left:0; }
				.box4{ top:140px; left:140px; }
				.box5{ top:140px; left:420px; }
				.box6{ top:280px; left:420px; }
			}
			#quadrante-2{
				.g-coluna;
				width:420px;
				height:420px;
				overflow:hidden;
				position:relative;
				.box1{ top:0; left:0; }
				.box2{ top:0; left:280px; }
				.box3{ top:140px; left:280px; }
				.box4{ top:280px; left:0; }
				.box5{ top:280px; left:140px; }				
			}
			#quadrante-3{
				.g-coluna;
				width:560px;
				height:560px;
				overflow:hidden;
				position:relative;
				.box1{ top:0; left:0; }
				.box2{ top:0; left:280px; }
				.box3{ top:140px; left:0; }
				.box4{ top:140px; left:280px; }
				.box5{ top:420px; left:0; }
				.box6{ top:420px; left:140px; }
				.box7{ top:420px; left:420px; }
			}
			#quadrante-4{
				.g-coluna;
				width:420px;
				height:560px;
				overflow:hidden;
				position:relative;
				.box1{ top:0; left:0; }
				.box2{ top:0; left:280px; }
				.box3{ top:280px; left:0; }
				.box4{ top:280px; left:140px; }
				.box5{ top:420px; left:140px; }
				.box6{ top:140px; left:280px; }
				.box7{ top:420px; left:280px; }
			}
			.retanguloH{
				width:280px;
				height:140px;
				position:absolute;
				overflow:hidden;
			}
			.retanguloV{
				height:280px;
				width:140px;
				position:absolute;
				overflow:hidden;
			}
			.quadradoG{
				width:280px;
				height:280px;
				position:absolute;
				overflow:hidden;
			}
			.quadradoP{
				width:140px;
				height:140px;
				position:absolute;
				overflow:hidden;
			}
			.texto{
				background:#7DBC10;
				color:#fff;
				text-align:center;
				line-height:135%;
				.roboto(18px);
				p{ padding:20px 30px; }
				&.xtraTop p{ padding:40px 30px; line-height: 145%;}
				&.xtraLeft p{ padding:20px 23px; line-height: 145%; }
			}
			a{
				.transition;
				&:hover .overlay{
					opacity:1;
				}
				img{
					z-index:1;
					position:absolute;
					top:0;
					left:0;
					max-width:100%;
					max-height:100%;
				}
				.overlay{
					opacity:0;
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					z-index:3;
					.transition;
					background:url('rgba.php/rgba(126, 188, 17, 0.65)');
					background:rgba(126, 188, 17, 0.65);
					&:after{
						position:absolute;
						top:0;
						left:0;
						width:100%;
						height:100%;
						z-index:5;
						content:"";
						display:block;
						background:url('../images/layout/lupa.png') center center no-repeat;
					}
				}
				.legenda{
					padding:5%;
					width:90%;
					height:90%;
					position:absolute;
					color:#fff;
					z-index:9;
					.shadows(36px);
					&.tr{ text-align:right; }
					&.br{ text-align:right; line-height:470px; }
					&.bl{ line-height:470px; }
				}
			}
		}
	}
}