@import 'vars.less';

html{
	body{
		#intro{
			height: 640px;
			width: 100%;
			@media only screen and (min-width: 0px) and (max-width: 1600px) {
				background:url('../images/layout/home_bg-verde.jpg') center top no-repeat;
			}
			@media only screen and (min-width: 1601px){
				background:url('../images/layout/wide/home_bg-verde.jpg') center top no-repeat;
			}
			position: fixed;
			top:0;
			overflow:hidden;
			.titulo{
				display: block;
				width: 980px;
				height: 100%;
				margin: 0 auto;
				overflow: hidden;
				h1{
					margin-top:145px;
					text-align:center;
					color:#fff;
					background:url('../images/layout/home_logo.png') center center no-repeat;
					height:117px;
					text-indent: -99999px;
				}
				.scroll{
					margin-top:245px;
					text-align: center;
					img{
						display:block;
						margin:0 auto;
					}
				}
			}
		}
		.conteudo{
			position: relative;
			top:640px;
			height:910px;
			background:#fff;
			#frase-home{
				@media only screen and (min-width: 0px) and (max-width: 1600px) {
					background:url('../images/layout/home_bg-marrom.jpg') center top no-repeat;
				}
				@media only screen and (min-width: 1601px){
					background:url('../images/layout/wide/home_bg-marrom.jpg') center top no-repeat;
				}
				height:380px;
				overflow:hidden;
				p{
					&:first-child{
						margin-top:95px;
						margin-bottom:30px;
					}
					line-height: 130%;
					margin-left:auto;
					margin-right:auto;
					width:870px;
					color:#fff;
					text-align: center;
					.shadows(30px);
				}
			}
			#apresentacao{
				padding-bottom:45px;
				.centro{
					.centralizar(995px);
					font-size:0;
					.coluna{
						padding:47px 0;
						.inline;
 						&.coluna-texto{
 							width:395px;
 							p{
 								.roboto(17px);
 								line-height:130%;
								color:@texto;
								text-align: center;
								margin-bottom:20px;
								padding:0 10px;
 							}
 							h3{
 								text-align: center;
								.shadows(30px);
								color:@marrom;
								padding:0 10px;
 							}
 						}
						&.coluna-banners{
							margin-left:25px;
							width:575px;
							background:url('../images/layout/home_bg-fotos.jpg') center center no-repeat;
							position:relative;
							#banners{
								position:relative;
								width:520px;
								height:260px;
								margin:10px 0 10px 27px;
								.banner{
									position:absolute;
									width:520px;
									height:260px;
									top:0;
									left:0;
									img{
										max-width: 520px;
										max-height: 260px;
										display:block;
										margin: 0 auto;
									}
								}
							}
							#banners-nav-prev{
								width:70px;
								height:160px;
								position:absolute;
								top:107px;
								left:27px;
								background:url('../images/layout/home_fotos-esq.png') -70px center no-repeat;
								z-index:99999;
								.transition;
								&:hover{
									background-position:center center;
								}
							}
							#banners-nav-next{
								width:70px;
								height:160px;
								position:absolute;
								top:107px;
								right:28px;
								background:url('../images/layout/home_fotos-dir.png') 70px center no-repeat;
								z-index:99999;
								.transition;
								&:hover{
									background-position:center center;
								}
							}
						}
					}
				}
			}
			footer{
				@media only screen and (min-width: 0px) and (max-width: 1600px) {
					background:url('../images/layout/footer_bg.jpg') center top no-repeat;
				}
				@media only screen and (min-width: 1601px){
					background:url('../images/layout/wide/footer_bg.jpg') center top no-repeat;
				}
				height:110px;
				nav{
					.centralizar;
					height:80px;
					position:relative;
					ul{
						height:40px;
						font-size:0;
						padding:20px 22px;
						background-color:@verde;
						position:absolute;
						top:-40px;
						li{
							margin-right:6px;
							&:last-child{margin-right:0;}
							height:40px;
							.inline;
							a{
								.roboto(18px);
								color:#456709;
								height:40px;
								line-height:40px;
								padding:0 23px 0 37px;
								text-decoration: none;								
								text-align:center;
								display:block;
								.transition;
								&:active, &:visited{}
								&:hover{
									color:#fff;
									&.mn-suites{background:url('../images/layout/menu_home-on.png') 3px center no-repeat}
									&.mn-lazer{background:url('../images/layout/menu_lazer-on.png') 3px center no-repeat}
									&.mn-culinaria{background:url('../images/layout/menu_culinaria-on.png') 3px center no-repeat}
									&.mn-promocoes{background:url('../images/layout/menu_promocoes-on.png') 3px center no-repeat}
									&.mn-mapa{background:url('../images/layout/menu_mapa-on.png') 3px center no-repeat}
									&.mn-traslados{background:url('../images/layout/menu_traslados-on.png') 0px center no-repeat}
									&.mn-reservas{background:url('../images/layout/menu_reservas-on.png') 3px center no-repeat}
									span{
										border-bottom:1px #fff solid;										
									}
								}
								span{
									.transition;
									border-bottom:1px @verde solid;
								}
								&.mn-suites{background:url('../images/layout/menu_home.png') 3px center no-repeat}
								&.mn-lazer{background:url('../images/layout/menu_lazer.png') 3px center no-repeat}
								&.mn-culinaria{background:url('../images/layout/menu_culinaria.png') 3px center no-repeat}
								&.mn-promocoes{background:url('../images/layout/menu_promocoes.png') 3px center no-repeat}
								&.mn-mapa{background:url('../images/layout/menu_mapa.png') 3px center no-repeat}
								&.mn-traslados{background:url('../images/layout/menu_traslados.png') 0px center no-repeat}
								&.mn-reservas{background:url('../images/layout/menu_reservas.png') 3px center no-repeat}
							}
						}
					}
				}
			}
		}
	}
}