@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto+Condensed);
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.g-container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
.g-coluna {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body #intro {
  height: 640px;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}
@media only screen and (min-width: 0px) and (max-width: 1600px) {
  html body #intro {
    background: url('../images/layout/home_bg-verde.jpg') center top no-repeat;
  }
}
@media only screen and (min-width: 1601px) {
  html body #intro {
    background: url('../images/layout/wide/home_bg-verde.jpg') center top no-repeat;
  }
}
html body #intro .titulo {
  display: block;
  width: 980px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
html body #intro .titulo h1 {
  margin-top: 145px;
  text-align: center;
  color: #fff;
  background: url('../images/layout/home_logo.png') center center no-repeat;
  height: 117px;
  text-indent: -99999px;
}
html body #intro .titulo .scroll {
  margin-top: 245px;
  text-align: center;
}
html body #intro .titulo .scroll img {
  display: block;
  margin: 0 auto;
}
html body .conteudo {
  position: relative;
  top: 640px;
  height: 910px;
  background: #fff;
}
html body .conteudo #frase-home {
  height: 380px;
  overflow: hidden;
}
@media only screen and (min-width: 0px) and (max-width: 1600px) {
  html body .conteudo #frase-home {
    background: url('../images/layout/home_bg-marrom.jpg') center top no-repeat;
  }
}
@media only screen and (min-width: 1601px) {
  html body .conteudo #frase-home {
    background: url('../images/layout/wide/home_bg-marrom.jpg') center top no-repeat;
  }
}
html body .conteudo #frase-home p {
  line-height: 130%;
  margin-left: auto;
  margin-right: auto;
  width: 870px;
  color: #fff;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  font-weight: normal;
}
html body .conteudo #frase-home p:first-child {
  margin-top: 95px;
  margin-bottom: 30px;
}
html body .conteudo #apresentacao {
  padding-bottom: 45px;
}
html body .conteudo #apresentacao .centro {
  width: 995px;
  padding: 0 0;
  margin: 0 auto;
  font-size: 0;
}
html body .conteudo #apresentacao .centro .coluna {
  padding: 47px 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .conteudo #apresentacao .centro .coluna.coluna-texto {
  width: 395px;
}
html body .conteudo #apresentacao .centro .coluna.coluna-texto p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 130%;
  color: #5a5a5a;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 10px;
}
html body .conteudo #apresentacao .centro .coluna.coluna-texto h3 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  font-weight: normal;
  color: #916e31;
  padding: 0 10px;
}
html body .conteudo #apresentacao .centro .coluna.coluna-banners {
  margin-left: 25px;
  width: 575px;
  background: url('../images/layout/home_bg-fotos.jpg') center center no-repeat;
  position: relative;
}
html body .conteudo #apresentacao .centro .coluna.coluna-banners #banners {
  position: relative;
  width: 520px;
  height: 260px;
  margin: 10px 0 10px 27px;
}
html body .conteudo #apresentacao .centro .coluna.coluna-banners #banners .banner {
  position: absolute;
  width: 520px;
  height: 260px;
  top: 0;
  left: 0;
}
html body .conteudo #apresentacao .centro .coluna.coluna-banners #banners .banner img {
  max-width: 520px;
  max-height: 260px;
  display: block;
  margin: 0 auto;
}
html body .conteudo #apresentacao .centro .coluna.coluna-banners #banners-nav-prev {
  width: 70px;
  height: 160px;
  position: absolute;
  top: 107px;
  left: 27px;
  background: url('../images/layout/home_fotos-esq.png') -70px center no-repeat;
  z-index: 99999;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .conteudo #apresentacao .centro .coluna.coluna-banners #banners-nav-prev:hover {
  background-position: center center;
}
html body .conteudo #apresentacao .centro .coluna.coluna-banners #banners-nav-next {
  width: 70px;
  height: 160px;
  position: absolute;
  top: 107px;
  right: 28px;
  background: url('../images/layout/home_fotos-dir.png') 70px center no-repeat;
  z-index: 99999;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .conteudo #apresentacao .centro .coluna.coluna-banners #banners-nav-next:hover {
  background-position: center center;
}
html body .conteudo footer {
  height: 110px;
}
@media only screen and (min-width: 0px) and (max-width: 1600px) {
  html body .conteudo footer {
    background: url('../images/layout/footer_bg.jpg') center top no-repeat;
  }
}
@media only screen and (min-width: 1601px) {
  html body .conteudo footer {
    background: url('../images/layout/wide/footer_bg.jpg') center top no-repeat;
  }
}
html body .conteudo footer nav {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
  height: 80px;
  position: relative;
}
html body .conteudo footer nav ul {
  height: 40px;
  font-size: 0;
  padding: 20px 22px;
  background-color: #7ebc11;
  position: absolute;
  top: -40px;
}
html body .conteudo footer nav ul li {
  margin-right: 6px;
  height: 40px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .conteudo footer nav ul li:last-child {
  margin-right: 0;
}
html body .conteudo footer nav ul li a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #456709;
  height: 40px;
  line-height: 40px;
  padding: 0 23px 0 37px;
  text-decoration: none;
  text-align: center;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .conteudo footer nav ul li a:hover {
  color: #fff;
}
html body .conteudo footer nav ul li a:hover.mn-suites {
  background: url('../images/layout/menu_home-on.png') 3px center no-repeat;
}
html body .conteudo footer nav ul li a:hover.mn-lazer {
  background: url('../images/layout/menu_lazer-on.png') 3px center no-repeat;
}
html body .conteudo footer nav ul li a:hover.mn-culinaria {
  background: url('../images/layout/menu_culinaria-on.png') 3px center no-repeat;
}
html body .conteudo footer nav ul li a:hover.mn-promocoes {
  background: url('../images/layout/menu_promocoes-on.png') 3px center no-repeat;
}
html body .conteudo footer nav ul li a:hover.mn-mapa {
  background: url('../images/layout/menu_mapa-on.png') 3px center no-repeat;
}
html body .conteudo footer nav ul li a:hover.mn-traslados {
  background: url('../images/layout/menu_traslados-on.png') 0px center no-repeat;
}
html body .conteudo footer nav ul li a:hover.mn-reservas {
  background: url('../images/layout/menu_reservas-on.png') 3px center no-repeat;
}
html body .conteudo footer nav ul li a:hover span {
  border-bottom: 1px #fff solid;
}
html body .conteudo footer nav ul li a span {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-bottom: 1px #7ebc11 solid;
}
html body .conteudo footer nav ul li a.mn-suites {
  background: url('../images/layout/menu_home.png') 3px center no-repeat;
}
html body .conteudo footer nav ul li a.mn-lazer {
  background: url('../images/layout/menu_lazer.png') 3px center no-repeat;
}
html body .conteudo footer nav ul li a.mn-culinaria {
  background: url('../images/layout/menu_culinaria.png') 3px center no-repeat;
}
html body .conteudo footer nav ul li a.mn-promocoes {
  background: url('../images/layout/menu_promocoes.png') 3px center no-repeat;
}
html body .conteudo footer nav ul li a.mn-mapa {
  background: url('../images/layout/menu_mapa.png') 3px center no-repeat;
}
html body .conteudo footer nav ul li a.mn-traslados {
  background: url('../images/layout/menu_traslados.png') 0px center no-repeat;
}
html body .conteudo footer nav ul li a.mn-reservas {
  background: url('../images/layout/menu_reservas.png') 3px center no-repeat;
}
