@import 'vars.less';

html{
	body{
		header{
			@media only screen and (min-width: 0px) and (max-width: 1600px) {
				background:url('../images/layout/header_lazer.jpg') center top no-repeat;
			}
			@media only screen and (min-width: 1601px){
				background:url('../images/layout/wide/header_lazer.jpg') center top no-repeat;
			}			
		}
		.main{
			.coluna{
				.inline;
				width:48%;
				p{
					padding-right:40px;
				}
				&.chamada{
					color:@marrom;
					line-height:125%;
					.shadows(30px);
				}
				&.texto{
					color:@texto;
					line-height:140%;
					.roboto(17px);
				}
			}
			#lista-item{
				margin:48px 0 20px 0;
				border-top:1px #E9E2D6 solid;
				border-bottom:1px #E9E2D6 solid;
				padding:15px 0;
				font-size:0;
				li{
					margin:4px 0;
					height: 26px;
					.inline;
					width:16.5%;
					background:url('../images/layout/seta.png') left center no-repeat;
					a{
						height: 26px;
						line-height: 26px;
						padding-left:25px;
						text-decoration:none;
						.roboto(18px);
						color:@verde;
						.transition;
						background:url('../images/layout/seta-on.png') -20px center no-repeat;
						&:active, &:visited{color:@verde;}
						&:hover, &.ativo{
							color:@marrom;
							background:url('../images/layout/seta-on.png') left center no-repeat;
						}
					}
				}
			}
			#galeria-viewport{
				height:245px;
				.galeria{
					height:245px;
					font-size:0;
					height:0;
					overflow:hidden;
					-webkit-transition-delay:0s;
					-moz-transition-delay:0s;
					-o-transition-delay:0s;
					background: none;
					&.carregando{
						background:url('../images/layout/ajax-loader.gif') center center no-repeat;
					}
					a{
						width:245px;
						height:245px;
						position:relative;
						&:nth-child(1) img{
							-webkit-transition-delay:.3s;
							-moz-transition-delay:.3s;
							-o-transition-delay:.3s;
						}
						&:nth-child(2) img{
							-webkit-transition-delay:.5s;
							-moz-transition-delay:.5s;
							-o-transition-delay:.5s;
						}
						&:nth-child(3) img{
							-webkit-transition-delay:.8s;
							-moz-transition-delay:.8s;
							-o-transition-delay:.8s;
						}
						&:nth-child(4) img{
							-webkit-transition-delay:1s;
							-moz-transition-delay:1s;
							-o-transition-delay:1s;
						}
						img{
							-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
							-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
							-moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
							-o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
							transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
							width:0px;
							height:0px;
							top:50%;
							left:50%;
							z-index:1;
							position:absolute;
						}
						.inline;
						&:active, &:visited{}
						&:hover{
							.overlay{opacity:1;}
						}											
						.overlay{
							opacity:0;
							position:absolute;
							top:0;
							left:0;
							width:100%;
							height:100%;
							z-index:3;
							.transition;
							background:url('rgba.php/rgba(126, 188, 17, 0.65)');
							background:rgba(126, 188, 17, 0.65);
							&:after{
								position:absolute;
								top:0;
								left:0;
								width:100%;
								height:100%;
								z-index:5;
								content:"";
								display:block;
								background:url('../images/layout/lupa.png') center center no-repeat;
							}
						}
					}
					&.aberta{
						height:245px;
						overflow:visible;
					}
					&.imgsAbertas{
						a{
							img{
								width:245px;
								height:245px;
								top:0;
								left:0;
							}
						}
					}
				}
			}
		}
	}
}