@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto+Condensed);
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.g-container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
.g-coluna {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
@media only screen and (min-width: 0px) and (max-width: 1600px) {
  html body header {
    background: url('../images/layout/header_lazer.jpg') center top no-repeat;
  }
}
@media only screen and (min-width: 1601px) {
  html body header {
    background: url('../images/layout/wide/header_lazer.jpg') center top no-repeat;
  }
}
html body .main .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 48%;
}
html body .main .coluna p {
  padding-right: 40px;
}
html body .main .coluna.chamada {
  color: #916e31;
  line-height: 125%;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  font-weight: normal;
}
html body .main .coluna.texto {
  color: #5a5a5a;
  line-height: 140%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
  font-weight: normal;
}
html body .main #lista-item {
  margin: 48px 0 20px 0;
  border-top: 1px #E9E2D6 solid;
  border-bottom: 1px #E9E2D6 solid;
  padding: 15px 0;
  font-size: 0;
}
html body .main #lista-item li {
  margin: 4px 0;
  height: 26px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 16.5%;
  background: url('../images/layout/seta.png') left center no-repeat;
}
html body .main #lista-item li a {
  height: 26px;
  line-height: 26px;
  padding-left: 25px;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #7ebc11;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url('../images/layout/seta-on.png') -20px center no-repeat;
}
html body .main #lista-item li a:active,
html body .main #lista-item li a:visited {
  color: #7ebc11;
}
html body .main #lista-item li a:hover,
html body .main #lista-item li a.ativo {
  color: #916e31;
  background: url('../images/layout/seta-on.png') left center no-repeat;
}
html body .main #galeria-viewport {
  height: 245px;
}
html body .main #galeria-viewport .galeria {
  height: 245px;
  font-size: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  background: none;
}
html body .main #galeria-viewport .galeria.carregando {
  background: url('../images/layout/ajax-loader.gif') center center no-repeat;
}
html body .main #galeria-viewport .galeria a {
  width: 245px;
  height: 245px;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main #galeria-viewport .galeria a:nth-child(1) img {
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
}
html body .main #galeria-viewport .galeria a:nth-child(2) img {
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
}
html body .main #galeria-viewport .galeria a:nth-child(3) img {
  -webkit-transition-delay: .8s;
  -moz-transition-delay: .8s;
  -o-transition-delay: .8s;
}
html body .main #galeria-viewport .galeria a:nth-child(4) img {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
}
html body .main #galeria-viewport .galeria a img {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */

  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */

  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  z-index: 1;
  position: absolute;
}
html body .main #galeria-viewport .galeria a:hover .overlay {
  opacity: 1;
}
html body .main #galeria-viewport .galeria a .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url('rgba.php/rgba(126, 188, 17, 0.65)');
  background: rgba(126, 188, 17, 0.65);
}
html body .main #galeria-viewport .galeria a .overlay:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  content: "";
  display: block;
  background: url('../images/layout/lupa.png') center center no-repeat;
}
html body .main #galeria-viewport .galeria.aberta {
  height: 245px;
  overflow: visible;
}
html body .main #galeria-viewport .galeria.imgsAbertas a img {
  width: 245px;
  height: 245px;
  top: 0;
  left: 0;
}
