@import 'vars.less';

html{
	body{
		header{
			@media only screen and (min-width: 0px) and (max-width: 1600px) {
				background:url('../images/layout/header_mapa.jpg') center top no-repeat;
			}
			@media only screen and (min-width: 1601px){
				background:url('../images/layout/wide/header_mapa.jpg') center top no-repeat;
			}	
		}
		.main{
			.g-container;
			#link-mapa{
				.g-coluna;
				width:590px;
				a{
					position:relative;
					width:525px;
					height:368px;
					display:block;
					#ampliar{
						position:absolute;
						top:0;
						left:0;
						width:0px;
						padding-left:42px;
						height:42px;
						line-height:42px;
						overflow:hidden;						
						color:#fff;
						background:url('../images/layout/lupa-menor.png') #7DBC10 9px center no-repeat;
						z-index:2;
						.roboto(16px);
						.transition;
					}
					img{
						position:absolute;
						top:3px;
						left:0;
						z-index:1;
					}
					&:hover #ampliar{
						background-color:@marrom;
						width:73px;
					}
				}
			}
			#google-mapa{
				.g-coluna;
				width:390px;
				iframe{
					display:block;
					width:390px;
					height:330px;
				}
				small{
					display:block;
					padding-top:20px;
					text-align:center;
					a{
						text-decoration:none;
						color:@verde;
						.roboto(14px);
						.transition;
						&:active, &:visited{color:@verde;}
						&:hover{color:@marrom;}
						img{
							vertical-align:2px;
							margin-left:4px;
						}
					}
				}
			}
		}
	}
}