@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto+Condensed);
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.g-container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
.g-coluna {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
@media only screen and (min-width: 0px) and (max-width: 1600px) {
  html body header {
    background: url('../images/layout/header_mapa.jpg') center top no-repeat;
  }
}
@media only screen and (min-width: 1601px) {
  html body header {
    background: url('../images/layout/wide/header_mapa.jpg') center top no-repeat;
  }
}
html body .main {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
html body .main #link-mapa {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 590px;
}
html body .main #link-mapa a {
  position: relative;
  width: 525px;
  height: 368px;
  display: block;
}
html body .main #link-mapa a #ampliar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  padding-left: 42px;
  height: 42px;
  line-height: 42px;
  overflow: hidden;
  color: #fff;
  background: url('../images/layout/lupa-menor.png') #7dbc10 9px center no-repeat;
  z-index: 2;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #link-mapa a img {
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 1;
}
html body .main #link-mapa a:hover #ampliar {
  background-color: #916e31;
  width: 73px;
}
html body .main #google-mapa {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 390px;
}
html body .main #google-mapa iframe {
  display: block;
  width: 390px;
  height: 330px;
}
html body .main #google-mapa small {
  display: block;
  padding-top: 20px;
  text-align: center;
}
html body .main #google-mapa small a {
  text-decoration: none;
  color: #7ebc11;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main #google-mapa small a:active,
html body .main #google-mapa small a:visited {
  color: #7ebc11;
}
html body .main #google-mapa small a:hover {
  color: #916e31;
}
html body .main #google-mapa small a img {
  vertical-align: 2px;
  margin-left: 4px;
}
