@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto+Condensed);
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.g-container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
.g-coluna {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
@media only screen and (min-width: 0px) and (max-width: 1600px) {
  html body header {
    background: url('../images/layout/header_promocoes.jpg') center top no-repeat;
  }
}
@media only screen and (min-width: 1601px) {
  html body header {
    background: url('../images/layout/wide/header_promocoes.jpg') center top no-repeat;
  }
}
html body .lista-promocoes a {
  display: block;
  width: 980px;
  height: 160px;
  margin-bottom: 10px;
  position: relative;
}
html body .lista-promocoes a:hover .overlay {
  opacity: 1;
}
html body .lista-promocoes a img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
html body .lista-promocoes a .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url('rgba.php/rgba(126, 188, 17, 0.65)');
  background: rgba(126, 188, 17, 0.65);
}
html body .lista-promocoes a .overlay:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  content: "";
  display: block;
  background: url('../images/layout/mais.png') center center no-repeat;
}
html body .detalhes .cabecalho {
  width: 980px;
  margin-bottom: 30px;
}
html body .detalhes h2 {
  color: #916e31;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}
html body .detalhes .texto {
  margin-bottom: 65px;
}
html body .detalhes .texto p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #5a5a5a;
  line-height: 150%;
  display: block;
  margin-bottom: 15px;
}
html body .detalhes .texto p a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7ebc11;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .detalhes .texto p a:active,
html body .detalhes .texto p a:visited {
  color: #7ebc11;
}
html body .detalhes .texto p a:hover {
  color: #916e31;
}
html body .detalhes .texto ul {
  line-height: 150%;
  display: block;
  margin-bottom: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7ebc11;
}
html body .detalhes .texto ul li {
  margin: 7px 0;
  list-style: url('../images/layout/bullet.png') inside;
}
html body .detalhes .reserva {
  margin-bottom: 75px;
}
html body .detalhes .reserva a {
  text-decoration: none;
  display: block;
  height: 57px;
  line-height: 57px;
  color: #fff;
  border-bottom: 10px #6EA50E solid;
  background: url('../images/layout/promocoes_botao.png') #7dbc10 15px center no-repeat;
  padding-left: 60px;
  width: 277px;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .detalhes .reserva a:active,
html body .detalhes .reserva a:visited {
  color: #fff;
}
html body .detalhes .reserva a:hover {
  color: #5d8d0c;
}
html body .detalhes .voltar {
  border-top: 1px #E9E2D6 solid;
  padding-top: 17px;
}
html body .detalhes .voltar a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #7ebc11;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .detalhes .voltar a:active,
html body .detalhes .voltar a:visited {
  color: #7ebc11;
}
html body .detalhes .voltar a:hover {
  color: #916e31;
}
