@import 'vars.less';

html{
	body{
		header{
			@media only screen and (min-width: 0px) and (max-width: 1600px) {
				background:url('../images/layout/header_promocoes.jpg') center top no-repeat;
			}
			@media only screen and (min-width: 1601px){
				background:url('../images/layout/wide/header_promocoes.jpg') center top no-repeat;
			}
		}
		.lista-promocoes{
			a{
				display:block;
				width:980px;
				height:160px;
				margin-bottom: 10px;
				position:relative;
				&:hover .overlay{
					opacity:1;
				}
				img{
					z-index:1;
					position:absolute;
					top:0;
					left:0;
				}
				.overlay{
					opacity:0;
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					z-index:3;
					.transition;
					background:url('rgba.php/rgba(126, 188, 17, 0.65)');
					background:rgba(126, 188, 17, 0.65);
					&:after{
						position:absolute;
						top:0;
						left:0;
						width:100%;
						height:100%;
						z-index:5;
						content:"";
						display:block;
						background:url('../images/layout/mais.png') center center no-repeat;
					}
				}
			}
		}
		.detalhes{
			.cabecalho{
				width:980px;
				margin-bottom:30px;
			}
			h2{
				color:@marrom;
				.shadows(30px);
				margin-bottom: 20px;
			}
			.texto{
				margin-bottom:65px;
				p{
					.roboto(16px);
					color:@texto;
					line-height: 150%;
					display:block;
					margin-bottom: 15px;
					a{
						.roboto(16px);
						color:@verde;
						.transition;
						&:active, &:visited{color:@verde;}
						&:hover{color:@marrom;}
					}
				}
				ul{
					line-height: 150%;
					display:block;
					margin-bottom: 15px;
					.roboto(16px);
					color:@verde;
					li{
						margin:7px 0;
						list-style: url('../images/layout/bullet.png') inside;
					}
				}
			}
			.reserva{
				margin-bottom:75px;
				a{
					text-decoration: none;
					display:block;
					height:57px;
					line-height:57px;
					color:#fff;
					border-bottom:10px #6EA50E solid;
					background:url('../images/layout/promocoes_botao.png') #7DBC10 15px center no-repeat;
					padding-left:60px;
					width:277px;
					margin:0 auto;
					.roboto(18px);
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{color:#5D8D0C}
				}	
			}
			.voltar{
				border-top:1px #E9E2D6 solid;
				padding-top:17px;
				a{
					.roboto(14px);
					color:@verde;
					text-decoration: none;
					.transition;
					&:active, &:visited{color:@verde;}
					&:hover{color:@marrom;}
				}
			}
		}
	}
}