@import 'vars.less';

html{
	body{
		header{
			@media only screen and (min-width: 0px) and (max-width: 1600px) {
				background:url('../images/layout/header_reservas.jpg') center top no-repeat;
			}
			@media only screen and (min-width: 1601px){
				background:url('../images/layout/wide/header_reservas.jpg') center top no-repeat;
			}
		}
		.main{
			.g-container;
			.informacoes{
				.g-coluna;
				width:350px;
				p.telefones{
					span{
						display:block;
						color:@verde;
						margin:4px 0;
						.roboto(48px);
						small{
							font-size: 20px;
						}
					}
				}
				.email{
					margin:40px 0 47px 0;
					a{
						padding-left:27px;
						background:url('../images/layout/reservas_email.png') left center no-repeat;
						color:@marrom;
						text-decoration: none;
						.roboto(18px);
						.transition;
						&:active, &:visited{color:@marrom;}
						&:hover{color:@verde;}
					}
				}
				.promocoes{
					width:270px;
					height:40px;
					line-height:40px;
					a{
						.roboto(18px);
						text-decoration:none;
						color:#fff;
						background:@marrom;
						color:#fff;
						text-align:center;
						display:block;
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{
							background-color:@verde;
						}
					}
				}
				.cancelamento{
					width:270px;
					margin-top:18px;
					text-align:center;
					a{
						color:@verde;

						.roboto(15px);
						.transition;
						&:active, &:visited{color:@verde;}
						&:hover{color:@texto;}
					}
				}
			}
			.contato{
				.g-coluna;
				width:630px;
				h2{
					.shadows(30px);
					color:@marrom;
				}
				form{
					margin-top:30px;
					.g-container;
					.coluna{
						.g-coluna;
						&:nth-of-type(1){ width:300px; }
						&:nth-of-type(2){ width:330px; }
						select{
							width:290px;
							background:@marrom;
							color:#fff;
							height:45px;
							line-height:45px;
							border:0;
							margin:0 0 10px 0;
							padding:0;
							.roboto(16px);
							text-indent: 15px;
						}
						input[type="text"],
						input[type="email"]{
							border:1px @marrom solid;
							width:263px;
							padding:10px 10px 10px 15px;
							height:23px;
							line-height:23px;
							background:#fff;
							color:@marrom;
							margin-bottom:10px;
							.roboto(16px);
							.placeholder(@marrom);
						}
						textarea{
							resize:none;
							overflow:auto;
							margin:0;
							border:1px @marrom solid;
							padding:10px 15px;
							width:298px;
							height:188px;
							color:@marrom;
							.roboto(16px);
							.placeholder(@marrom);
						}
					}
					.submit{
						padding-top:10px;
						height:45px;
						input[type="submit"]{
							border:0;
							padding:0;
							margin:0;
							height:45px;
							line-height:45px;
							color:#fff;
							width:130px;
							float:right;
							.roboto(18px);
							background:url('../images/layout/reservas_enviar.png') @verde 88px center no-repeat;
							cursor:pointer;
							text-align:left;
							text-indent:18px;
							.transition(all, .1s, ease-in);
							&:active{
								background-position:115px 3px;
								background-size:10px 10px;								
							}
							&:hover{
								color:@texto;
							}
						}
					}
				}
			}
		}
	}
}