@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto+Condensed);
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.g-container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
.g-coluna {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
@media only screen and (min-width: 0px) and (max-width: 1600px) {
  html body header {
    background: url('../images/layout/header_reservas.jpg') center top no-repeat;
  }
}
@media only screen and (min-width: 1601px) {
  html body header {
    background: url('../images/layout/wide/header_reservas.jpg') center top no-repeat;
  }
}
html body .main {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
html body .main .informacoes {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 350px;
}
html body .main .informacoes p.telefones span {
  display: block;
  color: #7ebc11;
  margin: 4px 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 48px;
  font-weight: normal;
}
html body .main .informacoes p.telefones span small {
  font-size: 20px;
}
html body .main .informacoes .email {
  margin: 40px 0 47px 0;
}
html body .main .informacoes .email a {
  padding-left: 27px;
  background: url('../images/layout/reservas_email.png') left center no-repeat;
  color: #916e31;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .informacoes .email a:active,
html body .main .informacoes .email a:visited {
  color: #916e31;
}
html body .main .informacoes .email a:hover {
  color: #7ebc11;
}
html body .main .informacoes .promocoes {
  width: 270px;
  height: 40px;
  line-height: 40px;
}
html body .main .informacoes .promocoes a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  background: #916e31;
  color: #fff;
  text-align: center;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .informacoes .promocoes a:active,
html body .main .informacoes .promocoes a:visited {
  color: #fff;
}
html body .main .informacoes .promocoes a:hover {
  background-color: #7ebc11;
}
html body .main .informacoes .cancelamento {
  width: 270px;
  margin-top: 18px;
  text-align: center;
}
html body .main .informacoes .cancelamento a {
  color: #7ebc11;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .informacoes .cancelamento a:active,
html body .main .informacoes .cancelamento a:visited {
  color: #7ebc11;
}
html body .main .informacoes .cancelamento a:hover {
  color: #5a5a5a;
}
html body .main .contato {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 630px;
}
html body .main .contato h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  font-weight: normal;
  color: #916e31;
}
html body .main .contato form {
  margin-top: 30px;
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
html body .main .contato form .coluna {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body .main .contato form .coluna:nth-of-type(1) {
  width: 300px;
}
html body .main .contato form .coluna:nth-of-type(2) {
  width: 330px;
}
html body .main .contato form .coluna select {
  width: 290px;
  background: #916e31;
  color: #fff;
  height: 45px;
  line-height: 45px;
  border: 0;
  margin: 0 0 10px 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-indent: 15px;
}
html body .main .contato form .coluna input[type="text"],
html body .main .contato form .coluna input[type="email"] {
  border: 1px #916e31 solid;
  width: 263px;
  padding: 10px 10px 10px 15px;
  height: 23px;
  line-height: 23px;
  background: #fff;
  color: #916e31;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
html body .main .contato form .coluna input[type="text"]::-webkit-input-placeholder,
html body .main .contato form .coluna input[type="email"]::-webkit-input-placeholder {
  color: #916e31;
}
html body .main .contato form .coluna input[type="text"]:-moz-placeholder,
html body .main .contato form .coluna input[type="email"]:-moz-placeholder {
  color: #916e31;
}
html body .main .contato form .coluna input[type="text"]::-moz-placeholder,
html body .main .contato form .coluna input[type="email"]::-moz-placeholder {
  color: #916e31;
}
html body .main .contato form .coluna input[type="text"]:-ms-input-placeholder,
html body .main .contato form .coluna input[type="email"]:-ms-input-placeholder {
  color: #916e31;
}
html body .main .contato form .coluna textarea {
  resize: none;
  overflow: auto;
  margin: 0;
  border: 1px #916e31 solid;
  padding: 10px 15px;
  width: 298px;
  height: 188px;
  color: #916e31;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
html body .main .contato form .coluna textarea::-webkit-input-placeholder {
  color: #916e31;
}
html body .main .contato form .coluna textarea:-moz-placeholder {
  color: #916e31;
}
html body .main .contato form .coluna textarea::-moz-placeholder {
  color: #916e31;
}
html body .main .contato form .coluna textarea:-ms-input-placeholder {
  color: #916e31;
}
html body .main .contato form .submit {
  padding-top: 10px;
  height: 45px;
}
html body .main .contato form .submit input[type="submit"] {
  border: 0;
  padding: 0;
  margin: 0;
  height: 45px;
  line-height: 45px;
  color: #fff;
  width: 130px;
  float: right;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  background: url('../images/layout/reservas_enviar.png') #7ebc11 88px center no-repeat;
  cursor: pointer;
  text-align: left;
  text-indent: 18px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
html body .main .contato form .submit input[type="submit"]:active {
  background-position: 115px 3px;
  background-size: 10px 10px;
}
html body .main .contato form .submit input[type="submit"]:hover {
  color: #5a5a5a;
}
