@import 'vars.less';

html{
	body{
		header{
			@media only screen and (min-width: 0px) and (max-width: 1600px) {
				background:url('../images/layout/header_suites.jpg') center top no-repeat;
			}
			@media only screen and (min-width: 1601px){
				background:url('../images/layout/wide/header_suites.jpg') center top no-repeat;
			}
		}
		.main{
			.centro{
				#lista-suites{
					a{
						position:relative;
						width:245px;
						height:180px;
						.transition;
						&.destaque{
							width:490px;
							height:360px;
						}
						img{
							max-width: 100%;
							max-height: 100%;
							position:absolute;
							top:0;
							left:0;
							z-index:1;
						}
						.titulo-suite{
							position:absolute;
							z-index:3;
							letter-spacing: normal;
							background:url('rgba.php/rgba(83,63,30,.8)');
							background:rgba(83,63,30,.8);
							top:20px;
							left:20px;
							padding:0 8px;
							height:30px;
							line-height:30px;
							color:#fff;
							.roboto(16px);
						}
						&:after{
							content:"";
							z-index:2;
							display:block;
							width:100%;
							height:100%;
							position:absolute;
							top:0;
							left:0;
							background:transparent;
							.transition;
						}
						&:hover:after{
							background:url('rgba.php/rgba(126, 188, 17, 0.65)');
							background:rgba(126, 188, 17, 0.65);
						}
					}
				}
				.wrapper{
					letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
				    *letter-spacing: normal; /* reset IE < 8 */
				    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
				    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
					section{
						letter-spacing: normal;
					    word-spacing: normal;
					    vertical-align: top;
					    text-rendering: auto;
						.inline;
						width:830px;
						.pad{
							border-right:1px #E9E2D6 solid;
							padding-right:30px;
							h2{
								.shadows(48px);
								color:@marrom;
								margin:0 0 35px 0;
								padding:0;
							}
							#cabecalho{
								img{
									max-width:800px;
								}
							}
							#texto{
								margin-top:30px;
								#galeria{
									width:525px;
									font-size:0;
									float:right;
									margin:0 0 40px 40px;
									a{
										width:175px;
										height:130px;
										position:relative;
										.inline;
										.transition;
										&:active, &:visited{}
										&:hover .overlay{
											opacity:1;
										}
										img{
											z-index:1;
											position:absolute;
											top:0;
											left:0;
										}
										.overlay{
											opacity:0;
											position:absolute;
											top:0;
											left:0;
											width:100%;
											height:100%;
											z-index:3;
											.transition;
											background:url('rgba.php/rgba(126, 188, 17, 0.65)');
											background:rgba(126, 188, 17, 0.65);
											&:after{
												position:absolute;
												top:0;
												left:0;
												width:100%;
												height:100%;
												z-index:5;
												content:"";
												display:block;
												background:url('../images/layout/lupa.png') center center no-repeat;
											}
										}
									}
								}
								#fix{clear:right;}
								p{
									.roboto(16px);
									color:@texto;
									line-height: 150%;
									display:block;
									margin-bottom: 15px;
									a{
										.roboto(16px);
										color:@verde;
										.transition;
										&:active, &:visited{color:@verde;}
										&:hover{color:@marrom;}
									}
								}
								ul{
									line-height: 150%;
									display:block;
									margin-bottom: 15px;
									.roboto(16px);
									color:@verde;
									li{
										margin:7px 0;
										list-style: url('../images/layout/bullet.png') inside;
									}
								}
							}
						}
					}
					aside{
						letter-spacing: normal;
					    word-spacing: normal;
					    vertical-align: top;
					    text-rendering: auto;
						.inline;
						width:150px;
						ul{
							padding-left:25px;
							li{
								margin:15px 0;
								display:block;
								overflow:hidden;
								background:url('../images/layout/seta.png') left center no-repeat;
								.transition;
								a{
									display:block;
									text-decoration: none;
									.roboto(14px);
									color:@verde;
									padding-left:27px;
									background:url('../images/layout/seta-on.png') -20px center no-repeat;
									.transition;
									&:active, &:visited{color:@verde;}
									&:hover, &.ativo{
										color:@marrom;
										background-position:left center;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}