@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto+Condensed);
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.g-container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
.g-coluna {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
@media only screen and (min-width: 0px) and (max-width: 1600px) {
  html body header {
    background: url('../images/layout/header_suites.jpg') center top no-repeat;
  }
}
@media only screen and (min-width: 1601px) {
  html body header {
    background: url('../images/layout/wide/header_suites.jpg') center top no-repeat;
  }
}
html body .main .centro #lista-suites a {
  position: relative;
  width: 245px;
  height: 180px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .centro #lista-suites a.destaque {
  width: 490px;
  height: 360px;
}
html body .main .centro #lista-suites a img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
html body .main .centro #lista-suites a .titulo-suite {
  position: absolute;
  z-index: 3;
  letter-spacing: normal;
  background: url('rgba.php/rgba(83,63,30,.8)');
  background: rgba(83, 63, 30, 0.8);
  top: 20px;
  left: 20px;
  padding: 0 8px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
html body .main .centro #lista-suites a:after {
  content: "";
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .centro #lista-suites a:hover:after {
  background: url('rgba.php/rgba(126, 188, 17, 0.65)');
  background: rgba(126, 188, 17, 0.65);
}
html body .main .centro .wrapper {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

}
html body .main .centro .wrapper section {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 830px;
}
html body .main .centro .wrapper section .pad {
  border-right: 1px #E9E2D6 solid;
  padding-right: 30px;
}
html body .main .centro .wrapper section .pad h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 48px;
  font-weight: normal;
  color: #916e31;
  margin: 0 0 35px 0;
  padding: 0;
}
html body .main .centro .wrapper section .pad #cabecalho img {
  max-width: 800px;
}
html body .main .centro .wrapper section .pad #texto {
  margin-top: 30px;
}
html body .main .centro .wrapper section .pad #texto #galeria {
  width: 525px;
  font-size: 0;
  float: right;
  margin: 0 0 40px 40px;
}
html body .main .centro .wrapper section .pad #texto #galeria a {
  width: 175px;
  height: 130px;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .centro .wrapper section .pad #texto #galeria a:hover .overlay {
  opacity: 1;
}
html body .main .centro .wrapper section .pad #texto #galeria a img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
html body .main .centro .wrapper section .pad #texto #galeria a .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url('rgba.php/rgba(126, 188, 17, 0.65)');
  background: rgba(126, 188, 17, 0.65);
}
html body .main .centro .wrapper section .pad #texto #galeria a .overlay:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  content: "";
  display: block;
  background: url('../images/layout/lupa.png') center center no-repeat;
}
html body .main .centro .wrapper section .pad #texto #fix {
  clear: right;
}
html body .main .centro .wrapper section .pad #texto p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #5a5a5a;
  line-height: 150%;
  display: block;
  margin-bottom: 15px;
}
html body .main .centro .wrapper section .pad #texto p a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7ebc11;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .centro .wrapper section .pad #texto p a:active,
html body .main .centro .wrapper section .pad #texto p a:visited {
  color: #7ebc11;
}
html body .main .centro .wrapper section .pad #texto p a:hover {
  color: #916e31;
}
html body .main .centro .wrapper section .pad #texto ul {
  line-height: 150%;
  display: block;
  margin-bottom: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7ebc11;
}
html body .main .centro .wrapper section .pad #texto ul li {
  margin: 7px 0;
  list-style: url('../images/layout/bullet.png') inside;
}
html body .main .centro .wrapper aside {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 150px;
}
html body .main .centro .wrapper aside ul {
  padding-left: 25px;
}
html body .main .centro .wrapper aside ul li {
  margin: 15px 0;
  display: block;
  overflow: hidden;
  background: url('../images/layout/seta.png') left center no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .centro .wrapper aside ul li a {
  display: block;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #7ebc11;
  padding-left: 27px;
  background: url('../images/layout/seta-on.png') -20px center no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .main .centro .wrapper aside ul li a:active,
html body .main .centro .wrapper aside ul li a:visited {
  color: #7ebc11;
}
html body .main .centro .wrapper aside ul li a:hover,
html body .main .centro .wrapper aside ul li a.ativo {
  color: #916e31;
  background-position: left center;
}
