@import 'vars.less';

html{
	body{
		header{
			@media only screen and (min-width: 0px) and (max-width: 1600px) {
				background:url('../images/layout/header_traslados.jpg') center top no-repeat;
			}
			@media only screen and (min-width: 1601px){
				background:url('../images/layout/wide/header_traslados.jpg') center top no-repeat;
			}
		}
		.main{
			.g-container;
			.informacoes{
				.g-coluna;
				width:500px;
				height:480px;
				h2{
					.shadows(24px);
					color:@marrom;
					margin-bottom:15px;
				}
				p{
					.roboto(16px);
					color:@texto;
					margin-bottom:30px;
					&.terrestre{
						padding-left:39px;
						background: url('../images/layout/traslados_onibus.png') left center no-repeat;
					}
					&.aereos{
						padding-left:38px;
						background: url('../images/layout/traslados_helicoptero.png') left center no-repeat;
					}
					&.reserva{
						width:335px;
						border-top:1px @verde solid;
						padding:20px 0;
						line-height:137%;
						margin-bottom:0;
						span{color:@marrom;}
					}
					&.telefones{
						background:url('../images/layout/traslados_bg-telefones.jpg') center center no-repeat;
						margin-left:2px;
						width:478px;
						height:160px;
						padding:10px 0 10px 20px;
						span{
							display:block;
							height:53px;
							line-height:53px;
							color:#fff;
							.roboto(48px);
							small{
								margin-right:10px;
								font-size:20px;
							}
						}
					}
				}
			}
			.ilustracao{
				.g-coluna;
				width:480px;
				height:480px;
				img{
					max-width:100%;
				}
			}
		}
	}
}