@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto+Condensed);
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.g-container {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
.g-coluna {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
@media only screen and (min-width: 0px) and (max-width: 1600px) {
  html body header {
    background: url('../images/layout/header_traslados.jpg') center top no-repeat;
  }
}
@media only screen and (min-width: 1601px) {
  html body header {
    background: url('../images/layout/wide/header_traslados.jpg') center top no-repeat;
  }
}
html body .main {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */

  *letter-spacing: normal;
  /* reset IE < 8 */

  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */

  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */

  font-size: 0;
}
html body .main .informacoes {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 500px;
  height: 480px;
}
html body .main .informacoes h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 24px;
  font-weight: normal;
  color: #916e31;
  margin-bottom: 15px;
}
html body .main .informacoes p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #5a5a5a;
  margin-bottom: 30px;
}
html body .main .informacoes p.terrestre {
  padding-left: 39px;
  background: url('../images/layout/traslados_onibus.png') left center no-repeat;
}
html body .main .informacoes p.aereos {
  padding-left: 38px;
  background: url('../images/layout/traslados_helicoptero.png') left center no-repeat;
}
html body .main .informacoes p.reserva {
  width: 335px;
  border-top: 1px #7ebc11 solid;
  padding: 20px 0;
  line-height: 137%;
  margin-bottom: 0;
}
html body .main .informacoes p.reserva span {
  color: #916e31;
}
html body .main .informacoes p.telefones {
  background: url('../images/layout/traslados_bg-telefones.jpg') center center no-repeat;
  margin-left: 2px;
  width: 478px;
  height: 160px;
  padding: 10px 0 10px 20px;
}
html body .main .informacoes p.telefones span {
  display: block;
  height: 53px;
  line-height: 53px;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 48px;
  font-weight: normal;
}
html body .main .informacoes p.telefones span small {
  margin-right: 10px;
  font-size: 20px;
}
html body .main .ilustracao {
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 480px;
  height: 480px;
}
html body .main .ilustracao img {
  max-width: 100%;
}
