@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto+Condensed);

@largura:980px;
@texto:#5A5A5A;
@marrom:#916E31;
@verde:#7EBC11;

.centralizar(@larguracentro:@largura, @pad:0){
	width:@larguracentro - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}
.shadows(@fsize:12px, @fweight:normal){
	font-family: 'Shadows Into Light', cursive;
	font-size:@fsize;
	font-weight:@fweight;
}
.roboto(@fsize:12px, @fweight:normal){
	font-family: 'Roboto Condensed', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }
.offscreen{
	display:block;
	text-indent:-999999999px;
}
.clear{ clear: both; }
.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
.escondido{display:none;}
.rgba(@r:0,@g:0,@b:0,@a:1){
	background:url('rgba.php/rgba(@r,@g,@b,@a)');
	background:rgba(@r,@g,@b,@a);
}

.hide-full{
	@media only screen and (min-width: 768px) {
		display:none !important;
	}
}

.hide-mobile{
	@media only screen and (max-width: 767px) {
		display:none !important;
	}
}

// Grid Container
.g-container{
	letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
	*letter-spacing: normal; /* reset IE < 8 */
	*word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
	text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
	font-size:0;
}
// Grid Coluna
.g-coluna{
	letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;	
	.inline;
}